main{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}

.logo{
  max-width: 350px;
}

.title{
  color: white;
  margin: 15px 0;
}

.category-area{
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
}

.category-button, .generate-button{
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  transition: all .2s ease;
}

.generate-button{
  background-color: #1fa4db;
  color: white;
  font-weight: bold;
}

.phrase-text{
  background-color: #fafafa;
  width: 80vw;
  max-width: 450px;
  border-radius: 5px;
  padding: 14px 22px;
  margin: 25px auto;
  line-height: 150%;
  color: #dd7b22;
  font-style: italic;
  font-size: 18px;
  text-align: center;
}